.header {
.header-wrapper {
display:flex;
justify-content:space-between;
.header-logo {
img {
width:100%;
}
}
.menu {
.burger-menu {
display:none;
@media (max-width:780px) {
display:block;
width:20px;
height:20px;
}
}
.menu-links {
@media (max-width:780px) {
display:none;
}
a {
text-decoration:none;
&:hover {
color:$accentColor;
}
}
}
}
.header-info {
text-decoration:none;
.header-phone{
&:before {
content:'';
background-image:url('../img/icons/phone.svg');
background-color:$accentColor;
background-repeat:no-repeat;
}
}
.cart {
img {
width:100%;
}
}
}

}
}