$font: 'Raleway', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$mainColor: #000000;
$accentColor: #6e9c9f;
$secondaryAccentColor: #998e78;
$alternateColor: #ffffff;
$fadedColor: #909090;
$secondaryFadedColor: #808080;
$invisibleColor: #9c9c9c;
$borderColor: #afafaf;
